.form-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 55px;
    color: black;
    font-style: italic;
    margin-top: 20px;
}
.margin-message {
    margin-top: 5px;
}
.margin-bottom {
    margin-bottom: 25px;
}